.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'ProximaNova', sans-serif;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primary-color-white);
    border: 1px solid transparent;
    user-select: none;

    +.wrapper{
        margin-left: 8px;
    }

    &.disable{
        pointer-events: none;
        opacity: 0.5;
    }
}


.icon + .title, .title + .icon{
    margin-left: 8px;
}

.icon{
    display: inline-block;
    width: 24px;
    text-align: center;
}

.rounded{
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    border-color: rgba(22, 24, 35, .12);
    
    &:hover{
        border-color: rgba(22, 24, 35, .2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary{
    color: var(--primary-color-white);
    background-color: var(--primary-color);
    border-color:var(--primary-color);

    &:hover{
        border-color:var(--primary-color);
        background: linear-gradient(0deg, rgba(0,0,0,0.06),rgba(0,0,0,0.06)),#fe2c50;
        
    }
}

.outline{
    color: var(--primary-color);
    border-color: currentColor;

    &:hover{
        border-color:currentColor;
        background-color: rgba(254,44,85,0.06)
        
    }
}



.text{


    &:hover{
       text-decoration: underline;
        
    }
}


//sizes
.small{
    min-width: 88px;
    padding: 4px 16px;
}

.large{
    padding: 8px 16px;
   
}