.wrapper{
   
  
}


.label{
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    color: var(--text-color);
    
    &:hover{
        background-color: rgba(22,24,35,0.03);

    }
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.item-info {
    flex: 1;
    margin-left: 12px;
    
}
.nick-name {
    display: flex;
    margin-top: 2px;
    font-size: 1.6rem;
    line-height: 1;
}

.check{
    font-size: 1.4rem;
    margin-left: 4px;
    color: #20d5ec
}
.name {
    font-size: 1.2rem;
    opacity: #161823bf;
}

.more-btn{
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 8px;
    cursor: pointer;
    font-weight: 700;
}

