


.tiktok-1ibclz-Circle {
    stroke-width: 0;
    // r: 36px;
    // cy: 99px;
    fill: rgb(15, 15, 15);
    // cx: 60px;
    animation: 1s cubic-bezier(0.05, 0, 1, 1) 0s infinite normal none running animation;
}


@keyframes animation{
    25%{
        r:43.2px;
        cx: 100px
    }

    50%{
        r:36px;
        cx: 140px
    }

    75%{
        r:21.6px;
        cx: 100px
    }

    100%{
        r:36px;
        cx: 60px
    }
}


