.menu-item{
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    line-height: 1.5px;
    transition: background-color ease-in-out 200ms;
    color: var(--text-color);
    &.active{
        color: var(--primary-color);
        .icon{
            display: none;
        }

        .active-icon{
            display: flex;
        }

    }

    &:hover{
        background-color: rgba(22,24,35,0.03);
    }
}

.title{
    margin-left: 10px;
}



.active-icon{
    display: none;
}